.carousel {
    /* border: 2px dotted green; */
    box-sizing: border-box;
    display: flex;
    gap: 1em;
    margin: 3em auto;
    overflow-x: scroll;
    scroll-behavior: smooth; /*No lfunciona el scroll suave*/
    /* width:100%; */
    anchor-name: --carousel;
    scroll-snap-type: x mandatory;

    &::-webkit-scrollbar {
        display: none;
    }

    &::scroll-button(right){
        content: "⭢";
        position-area: right center;
        translate: -50%;
    }

    &::scroll-button(left){
        content: "⭠";
        position-area: left center;
        translate: 50%;
    }

    &::scroll-button(right),
    &::scroll-button(left) {
        cursor: pointer;
        background-color: blueviolet;
        font-size: 1.4em;
        color: white;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        padding: .8em;

         /* === CENTRADO PERFECTO === */
        display: inline-flex;
        justify-content: center;
        align-items: center;

        position: fixed;
        position-anchor: --carousel;
        
        
        /* === OPCIONAL: Mejor apariencia === */
        /* line-height: 1;
        text-align: center; */
    }

    &::scroll-button(right):disabled,
    &::scroll-button(left):disabled {
        opacity: .5;
        cursor: auto;
    }

    /*.carousel .card*/
    .card {
        align-content: center;
        background-color: blueviolet;
        border-radius: .5rem;
        border: 1px dotted red;
        box-sizing: border-box;
        flex: 0 0 20em;
        height: 12em;
        padding: 1em;
        scroll-snap-align: start;
        text-align: center;
    }
}