@import url(./normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); /*Titulos de color negro*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap'); /*titulos naranjas*/


/* Variables globales */

:root {
    /* Convierte 1rem en base 10 */
    --over-font-size:62.5%;

    /* Colores base */
    --Orange-Yellow:#F4B527;
    --Halloween-Orange: #F26723;    
    --Navy-Blue: #09097C;
    --Raisin-Black: #212121; /*Background copyrigth y testimonials*/
    --Lotion: #fcfcfd; /*Body*/
    --Anti-Flash-White: #F3F3F3; /*Background our service*/
    --Raisin-Black: #222222; /*Background footer principal*/
    --Charleston-Green: #2b2b2b; /*Background testimonials y subscribe*/
    --Dim-Gray: #636C72; /*Color letra footer*/
}


html {
    font-size: var(--over-font-size); /*pasa a base 10*/
}


html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column; 
    font-size: 1.6rem; /*todas las fuentes en base 10*/    
}

.container {
    border: 1px dotted blue;
    box-sizing: border-box;  /**Para bordes internos al elemento**/
    margin: 0 auto;          /**Centra el elemento**/
    max-width: 96vw;         /**Ancho maximo**/
    padding: 0 .8rem;        /**Distancia entre el contenido y el borde**/    
}

.container-fluid {
    border: 1px solid orangered;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 100vw;
    padding: 0;
}

/* Header */

/* Main */
.main {
    flex: 1; /*Es equivalente a 1 0 auto*/
}


.banner {
    width: 100%;
    /* height: 11rem;    */
    background: var(--Halloween-Orange);
    align-items: center;
    justify-content: space-between;  
}

.banner-content {
    display: flex;    
    align-items: center;
    height: 12rem;
    flex-direction: column;
}

.btn {
    background: var(--Raisin-Black);
    color: #fff;
    padding: 1rem 2rem;
    font-size: 14px;
    text-decoration: none;    
    font-family: "Oswald", sans-serif;
}

.btn:hover{
    background-color: var(--Dim-Gray);
    transition: all 1s;
    }

.btn i.fa-regular.fa-file-pdf {
    margin-right: 1rem;
    font-size: 1.8rem; /*Altura a la imagen de pdf*/
    }

.banner-content p {
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 20px;
}


/* Aside */

/* Footer ******************/

.footer__background {
    background-color:var(--Raisin-Black);
    
}

.sections-footer {
    display: flex;
    flex-wrap: wrap;  
    gap: 1rem;  
    margin: 3rem 0;      
}

.col {
    border: dotted blueviolet;
    flex: 1 1 100%;
    padding: 1.5rem;
}    

.footer-card-1 p {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: var(--Dim-Gray);
}

.footer-card-2 .links-card-2 {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: var(--Dim-Gray);
    text-decoration: none;
}


 /*Post-footer*/
.post-footer {
    background-color: black;
    }

    .post-footer-bar {
        color: var(--Dim-Gray);  
        padding: 2.5rem;           
    }

/* Media quieries break-point*****************************************************************************************************/
@media (width > 567px) {
    .container {
        max-width: 54rem;
        padding: 0 1.6rem;  /*Maneja la distancia entre el contenido y el borde del contenedor e incrementa en 8px en cada media query*/
    }
    /* Header */
    /* Main */
    /* Aside */

    /* Footer */
    .sections-footer {
        display: flex;
        flex-wrap: wrap;       
    }

    .col {    
        flex: 1 1 30%;       
    }

    .banner-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 8.5rem;
        flex-direction: row;
    }

}

/* ****************************************************************************************************************************/
@media (width > 768px) { 
    .container {
        max-width: 72rem;
        padding: 0 2.4rem;
    }     
    /* Header */
    /* Main */
    /* Aside */
    /* Footer */
    

    .sections-footer {
        display: flex;
        flex-wrap: wrap;        
    }  

    .col {    
        flex: 1 1 25%;
    }

    .banner {
        width: 100%;
        height: 8.5rem;  
        background: linear-gradient( /* Fondo dividido en diagonal */
        55deg, 
        var(--Halloween-Orange) 0%,
        var(--Halloween-Orange) 50%,
        #f4f4f4 50%,
        #f4f4f4 100%
        );  
        align-items: center;
        justify-content: space-between;
    }

    .banner-content {        
        height: 8.5rem;        
    }

    .btn {
        background: var(--Halloween-Orange);
        color: #fff;
        padding: 1rem 2rem;
        font-size: 14px;
        text-decoration: none;        
        font-family: "Oswald", sans-serif;
        
    }

    .btn:hover{
        background-color: var(--Raisin-Black);
        transition: all 1s;
    }

    .btn i.fa-regular.fa-file-pdf {
        margin-right: 1rem;
        font-size: 1.8rem; /*Altura a la imagen de pdf*/
    }
}      


/* ***************************************************************************************************************************/
@media (width > 1024px) {
    .container {
        max-width: 99.2rem;
        padding: 0 3.2rem;
    }  
    /* Header */
    /* Main */
    /* Aside */
    /* Footer */

    .sections-footer {
        display: flex;
        flex-wrap: wrap;        
    }
    
    .col {    
        flex: 1 1 20%;
    }

    
}
/* ***************************************************************************************************************************/
@media (width > 1200px) {
    .container {
        max-width: 114rem;
        padding: 0 4rem;
    }

}

    
    /* Header */
    /* Main */
    /* Aside */
    /* Footer */
    

/* ***************************************************************************************************************************/
@media (width > 1400px) {
    .container {
        max-width: 132rem;
        padding: 0 4.8rem;
    }
    /* Header */
    /* Main */
    /* Aside */
    /* Footer */
}

/* ***************************************************************************************************************************/
@media (width > 1600px) {
    .container {
        max-width: 144rem;
        padding: 0 5.6rem;
    }
    /* Header */
    /* Main */
    /* Aside */
    /* Footer */
}

/* ***************************************************************************************************************************/
@media (width > 1920px) {
    .container {
        max-width: 160rem;
        padding: 0 6.4rem;
    }
    /* Header */
    /* Main */
    /* Aside */
    /* Footer */
}
