@import url(./normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); /*Titulos de color negro*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap'); /*titulos naranjas*/


/* Variables globales */

:root {
    /* Convierte 1rem en base 10 */
    --over-font-size:62.5%;

    /* Colores base */
    --Orange-Yellow:#F4B527;
    --Halloween-Orange: #F26723;
    --Maximun-Red: #D12420;
    --Navy-Blue: #09097C;
    --Raisin-Black: #212121; /*Background copyrigth y testimonials*/
    --Lotion: #fcfcfd; /*Body*/
    --Anti-Flash-White: #F3F3F3; /*Background our service*/
    --Raisin-Black: #222222; /*Background footer principal*/
    --Charleston-Green: #2b2b2b; /*Background testimonials y subscribe*/
    --Dim-Gray: #636C72; /*Color letra footer*/
}

html {
    font-size: var(--over-font-size); /*pasa a base 10*/
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column; 
    font-size: 1.6rem; /*todas las fuentes en base 10*/
    background-color: white;
}

.container {
    border: 1px dotted blue;
    box-sizing: border-box;  /**Para bordes internos al elemento**/
    margin: 0 auto;          /**Centra el elemento**/
    max-width: 96vw;         /**Ancho maximo**/
    padding: 0 .8rem;        /**Distancia entre el contenido y el borde**/    
}

.container-fluid {
    /* border: 1px solid orangered; */
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 100vw;
    padding: 0;
}

/* Header */

div {
    /* border: 1px solid red; */
}

.header-diagonal {
  /* background-color: white; */

  /* El gradiente con el ángulo perfecto */
  background: linear-gradient(-135deg, var(--Halloween-Orange) 100%, transparent 0% );
  /* El gradiente tiene un ángulo de -135 grados, lo que significa que se va a dibujar desde arriba hacia abajo y desde la izquierda hacia la derecha. */
  /* El gradiente empieza con el color var(--Orange-Yellow) en la posición 70% */
  /* A partir de la posición 0%, el gradiente es transparente */
  
  border-top: var(--Halloween-Orange) .5rem solid;
  /* color: white; */
  height: 2rem;
  /* min-height: 2rem; */
  padding: 1.2rem 0 1.7rem 0;
}

.header-main {
    /* border: 1px solid green; */
    /* border: 1px solid green; */
    display: flex
;
    /* flex-direction: row; */
    justify-content: center;
    /* padding: 0 0 0 6vw; */
    transform: translateY(-3.8rem);
}

.header-main img {
    width: 50vw;
    /* height: 8rem; */
}

.big-logo-mobile {
    display: flex;
    padding: 3rem 0 1rem 0;
    justify-content: center;
}

.big-logo {
    display: none;
}

.header-container {
    /* border: 2px solid green; */
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    /* height: 10rem; */
    /* transform: translateY(-3.8rem); Desplazamiento hacia arriba */
}
/* Para el contenido del header */
.header-header {
    display: flex;
    justify-content: space-around;
    font-family: "Roboto", sans-serif;
    font-size: 1.4rem;
}

.header-header span {
    color: white;
}

.header-header i {
    color: white;
}

.header-header a {
    color: white;
    text-decoration: none;
}   

.contact-info {
  display: none;
}

.social-links {
  /* flex: 1; */
  /* text-align: center; */
}

.user-actions {
  /* flex: 1; */
  /* text-align: right; */
}

.header-menu ul {
    display: none;
} 

/* Main */
.main {
    flex: 1; /*Es equivalente a 1 0 auto*/
}



/* Carousel +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

    /* carousel.css */

/*Section-news-various*/
.news-various {
    text-align: center;
}

.news-various h2 {
    color: var(--Raisin-Black);
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 4px;
    margin-top: 8rem;
}

.news {
    /* border: 2px dotted blueviolet; */
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
}

.news a {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    text-decoration: none;
    display: block;
    padding: 2rem;  
    color: #171717;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;  
    
}

.news-various-cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 3rem;
    margin-bottom: 9rem;
}

.news-card-1,
.news-card-2,
.news-card-3,
img {
    width: 100%;
    display: block;
}

h3 {
    font-family: "Oswald", sans-serif;
    font-size: 30px;
    color: var(--Halloween-Orange);
    margin: 0px;
    font-weight: 500;
}

/*pre-footer*/

.banner {
    width: 100%;
    /* height: 11rem;    */
    background: var(--Halloween-Orange);
    align-items: center;
    justify-content: space-between;  
}

.banner-content {
    display: flex;    
    align-items: center;
    height: 12rem;
    flex-direction: column;
}

.btn {
    background: var(--Raisin-Black);
    color: #fff;
    padding: 1rem 2rem;
    font-size: 14px;
    text-decoration: none;    
    font-family: "Oswald", sans-serif;    
}

.btn:hover{
    background-color: var(--Dim-Gray);
    transition: all 1s;
    }

.btn i.fa-regular.fa-file-pdf { /*Logo pdf*/
    margin-right: 1rem;
    font-size: 1.8rem;         /*Altura de la imagen logo pdf*/
    }

.btn i.fa-solid.fa-circle-down {
    margin-left: 0.8rem;
}

.banner-content p {
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 20px;
}

.pre-footer {
    border-bottom: 3px solid var(--Halloween-Orange); /*borde naranja a la seccion pre-footer*/
}

/* Aside */

/* Footer ******************/

.footer__background {
    background-color:var(--Raisin-Black);
    
}

.sections-footer {
    display: flex;
    flex-wrap: wrap;  
    gap: 1rem;  
    margin: 3rem 0;      
}

.col {
    border: dotted blueviolet;
    flex: 1 1 100%;
    padding: 1.5rem;
}    

.footer-card-1 p {
    color: var(--Dim-Gray);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

.footer-card-2 ul li a {
    color: var(--Dim-Gray);
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    text-decoration: none;     
}

.footer-card-2 ul {
    padding: 0px;  
}

.links-card-2 {
    list-style: none;
}

.post-link {
    display: inline-flex;         /* icono y texto alineados */
    align-items: center; 
    gap: 1rem;                 /*espaciado entre icono y links*/
  
}


.links-card-2 i.fa-solid.fa-user-shield, i.fa-solid.fa-lock {
    color: #FFFFFF;    
}


.footer-card-3 ul li a {
    color: var(--Dim-Gray);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    text-decoration: none;
}

.footer-card-4 p {
    color: var(--Dim-Gray);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

.sections-footer h2 {
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-size: 20px;

}


 /*Post-footer*/
.post-footer {
    background-color: #171717;
    }

.post-footer-bar {
    color: var(--Dim-Gray);  
    padding: 1.5rem;           
}

.post-footer-bar {
    color: var(--Dim-Gray);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    text-align: center;
}

.post-footer-bar a {
    color: var(--Halloween-Orange);
    text-decoration: none;
}

/* Media quieries break-point*****************************************************************************************************/
@media (width > 567px) {
.container {
    max-width: 54rem;
    padding: 0 1.6rem;  /*Maneja la distancia entre el contenido y el borde del contenedor e incrementa en 8px en cada media query*/
}
    /* Header */
    .header-main img {
        width: 30vw;
        /* height: 8rem; */
    }
    /* Main */
    /* Aside */


 /*main feature-news-various*/
.links-card-2 i.fa-solid.fa-lock {
    margin-left: 0.4rem;
    margin-right: 0.2rem;
}



    /* Footer */
    .sections-footer {
        display: flex;
        flex-wrap: wrap;       
    }

    .col {    
        flex: 1 1 30%;       
    }

    .banner-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 8.5rem;
        flex-direction: row;
    }

}

/* ****************************************************************************************************************************/
@media (width > 768px) { 
    .container {
        max-width: 72rem;
        padding: 0 2.4rem;
    }     
    /* Header */

    .header-menu ul {
        display: flex;
        gap: 4rem;
        justify-content: flex-end;
        margin: 1rem 0rem 1.6rem 0rem;
    }

    .header-menu li {
        /* border: 1px solid red; */
        list-style: none;
    }

    .header-menu a {
        color: var(--Raisin-Black);
        font-family: "Oswald", sans-serif;
        font-size: 1.4rem;
        text-transform: uppercase;
        text-decoration: none;
    }

    .header-menu a:hover {
        color: var(--Halloween-Orange);
    }

    /* Main */

    /*main feature-news-various*/
    .news-various-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-around;       
        
    }

    .news {
        max-width: 40rem;        
        width: 100%;
    }

    

    /* Aside */
    /* Footer */    
    .sections-footer {
        display: flex;
        flex-wrap: wrap;        
    }  

    .col {    
        flex: 1 1 25%;
    }

    .banner {
        width: 100%;
        height: 8.5rem;  
        background: linear-gradient( /* Fondo dividido en diagonal */
        55deg, 
        var(--Halloween-Orange) 0%,
        var(--Halloween-Orange) 50%,
        #f4f4f4 50%,
        #f4f4f4 100%
        );  
        align-items: center;
        justify-content: space-between;
    }

    .banner-content {        
        height: 8.5rem;        
    }

    .btn {
        background: var(--Halloween-Orange);
        color: #fff;
        padding: 1rem 2rem;
        font-size: 14px;
        text-decoration: none;        
        font-family: "Oswald", sans-serif;
        
    }

    .btn:hover{
        background-color: var(--Raisin-Black);
        transition: all 1s;
    }

    .btn i.fa-regular.fa-file-pdf {
        margin-right: 1rem;
        font-size: 1.8rem; /*Altura a la imagen de pdf*/
    }
}      


/* ***************************************************************************************************************************/
@media (width > 1024px) {
    .container {
        max-width: 99.2rem;
        padding: 0 3.2rem;
    }  
    /* Header */

    div {
    /* border: 1px solid red; */
}

.header-diagonal {
  /* background-color: white; */

  /* El gradiente con el ángulo perfecto */
  background: linear-gradient(-135deg, var(--Halloween-Orange) 70%, transparent 0% );
  /* El gradiente tiene un ángulo de -135 grados, lo que significa que se va a dibujar desde arriba hacia abajo y desde la izquierda hacia la derecha. */
  /* El gradiente empieza con el color var(--Orange-Yellow) en la posición 70% */
  /* A partir de la posición 0%, el gradiente es transparente */
  
  border-top: var(--Halloween-Orange) .5rem solid;
  /* color: white; */
  height: 2rem;
  /* min-height: 2rem; */
  padding: 1.2rem 0 1.7rem 0;
}

.header-main {
/* border: 1px solid green; */
    /* border: 1px solid green; */
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    /* padding: 0 0 0 6vw; */
    transform: translateY(-3.8rem);
}

.header-main img {
    width: 18vw;
    height: unset;
}

.big-logo-mobile {
    display: none;
}

.big-logo {
    display: block;
}

.header-container {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    height: 10rem;
    /* transform: translateY(-3.8rem); Desplazamiento hacia arriba */
}
/* Para el contenido del header */
.header-header {
    display: flex;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
    font-size: 1.4rem;
}

.header-header span {
    color: white;
}

.header-header i {
    color: white;
}

.header-header a {
    color: white;
    text-decoration: none;
}   

.contact-info {
  display: flex;
}

.social-links {
  /* flex: 1; */
  /* text-align: center; */
}

.user-actions {
  /* flex: 1; */
  /* text-align: right; */
}

.header-menu ul {
    display: flex;
    gap: 4rem;
    justify-content: flex-end;
    margin: 3.2rem 0rem 1.6rem 0rem;
}


.header-menu li {
    /* border: 1px solid red; */
    list-style: none;
}

.header-menu a {
    color: var(--Raisin-Black);
    font-family: "Oswald", sans-serif;
    font-size: 1.4rem;
    text-transform: uppercase;
    text-decoration: none;
}

.header-menu a:hover {
    color: var(--Halloween-Orange);
}

    /* Main */
    /* Aside */
    /* Footer */

    .sections-footer {
        display: flex;
        flex-wrap: wrap;        
    }
    
    .col {    
        flex: 1 1 20%;
    }

    
}
/* ***************************************************************************************************************************/
@media (width > 1200px) {
    .container {
        max-width: 114rem;
        padding: 0 4rem;
    }

}

    
    /* Header */
    /* Main */
    /* Aside */
    /* Footer */
    

/* ***************************************************************************************************************************/
@media (width > 1400px) {
    .container {
        max-width: 132rem;
        padding: 0 4.8rem;
    }
    /* Header */
    /* Main */
    /* Aside */
    /* Footer */
}

/* ***************************************************************************************************************************/
@media (width > 1600px) {
    .container {
        max-width: 144rem;
        padding: 0 5.6rem;
    }
    /* Header */
    /* Main */
    /* Aside */
    /* Footer */
}

/* ***************************************************************************************************************************/
@media (width > 1920px) {
    .container {
        max-width: 160rem;
        padding: 0 6.4rem;
    }
    /* Header */
    /* Main */
    /* Aside */
    /* Footer */
}
